.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.GeoIP.conf
*.vsdix
.vs/slnx.sqlite
.env
/metricbeat/
/logstash/
/elastic-agent/
/elasticsearch/
elasticsearch.dockerfile2
docker-compose.elastic.yml
docker-entrypoint.sh
backend/uv.lock
data/neo4j/logs/
data/neo4j/data/
backend/app/__models.py
